*.o
bin
bin2d
convolve
cstats
erf
fasthdr
fftSmooth
fits2text
fitsTSdump
fitsTSsample
fitsplitN2
getPeaks
interp
lombscargle
normC
notchFilter
nsigma
pca
pdm
ran_poisson
rmsSlide
smoothC
text2fits
text2fitsTS
